# Bytecode and caches
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environments
.env
.venv
env/
venv/

# Packaging
*.egg-info/
dist/
build/

# Editors
.DS_Store
.vscode/

# Training artefacts
runs/
log/
models/
outputs/
*.pt

# Data and generated artifacts
data/**/*.npz
data/**/*.pkl
data/**/*.npy
results/
# figures/*.png
# figures/*.pdf
*.ckpt

# Notebooks/checkpoints
.ipynb_checkpoints/

# LaTeX build
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.toc
*.synctex.gz
